version: "2.0"
services:
   web:
     build: .
     volumes:
       - ./:/usr/src/app
     ports:
       - "3000:3000"
     links:
       - mongo
   mongo:
     image: mongo
     ports:
       - "27017:27017"
